<% title("Edit user") %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
      <%= simple_form_for [:admin, @user], html: { method: :put, class: "form-admin" } do |f| %>
        <h2 class="text-center form-heading">Edit user</h2>
        
        <%= f.error_notification %>

        <%= f.input :username, required: true, autofocus: true, label: false, placeholder: 'username', input_html: {class: 'form-control'} %>
        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, label: false, placeholder: 'new password', input_html: {class: 'form-control'} %>
        <%= f.input :password_confirmation, autocomplete: "off", required: false, label: false, placeholder: 'rewrite new password', input_html: {class: 'form-control'} %>
        <%= f.input :admin, as: :boolean %>

        <%= f.button :submit, "Update", class: 'btn btn-primary btn-block' %>

        <%= link_to "Back to users", admin_users_path, class: 'btn btn-primary btn-block' %>
        <% unless current_user.id == @user.id %>
          <%= link_to "Delete user", "/admin/users/#{@user.id}", data: { confirm: 'Are you sure to delete this user?' }, method: :delete, class: 'btn btn-danger btn-block' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
