<% title("Users") %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Users</h4>
        </div>
        
        <div class="panel-body">
          <div class="text-center">
            <%= paginate @users %>
          </div>

          <br/>

          <div class="row">
            <div class="col-md-6">
              <%= simple_form_for admin_users_path, html: { method: 'get', class: 'form-admin', style: 'max-width: 100%; padding-left: 25px; padding-bottom: 10px;' } do %>
                <%= text_field_tag :search, params[:search], autofocus: :true, placeholder: "enter username for search...", class: "form-control" %>

                <%= submit_tag 'Search', :name => nil, class: 'btn btn-primary btn-block' %>
              <% end %>
            </div>

            <div class="col-md-6">
              <%= simple_form_for admin_users_path, html: { method: 'get', class: 'form-admin', style: 'max-width: 100%; padding-right: 25px; padding-bottom: 10px;' } do %>
                <select name="order_options" class="form-control">
                  <option value="id" <%= "selected" if @order_options == "id" %>>Order by id</option>
                  <option value="username" <%= "selected" if @order_options == "username" %>>Order by username</option>
                  <option value="sign_in_count" <%= "selected" if @order_options == "sign_in_count" %>>Order by sign in count</option>
                  <option value="last_sign_in_at" <%= "selected" if @order_options == "last_sign_in_at" %>>Order by last sign in</option>
                </select>

                <%= submit_tag "Order", :name => nil, class: 'btn btn-primary btn-block' %>
              <% end %>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>ID</th>
                <th>username</th>
                <th>Sign in count</th>
                <th>Last sign in</th>
                <th>Created at</th>
                <th>Admin?</th>
              </tr>

              <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= link_to user.username, edit_admin_user_path(user) %></td>
                  <td><%= user.sign_in_count %></td>
                  <% unless user.last_sign_in_at.nil? %>
                    <td><%= user.last_sign_in_at.strftime("%Y-%m-%d | %H:%M:%S") %></td>
                  <% else %>
                    <td>Never</td>
                  <% end %>
                  <td><%= user.created_at.strftime("%Y-%m-%d | %H:%M:%S") %></td>
                  <td><%= user.admin %></td>
                </tr>
              <% end %>
            </table>
          </div>

          <div class="text-center">
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
