<% title('Dashboard') %>

<div id="add-new-marker-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add new marker</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 10px;">
        <%= simple_form_for(@marker, remote: true) do |f| %>
          <div class="form-inputs">
            <%= f.input :lat, label: 'Latitude', required: true %>
            <%= f.input :lng, label: 'Longitude', required: true %>
            <%= f.input :title, label: 'Title', placeholder: 'from 1 to 255 character', required: true, maxlength: 255, minlength: 1 %>
            <%= f.input :description, input_html: { rows: 5 } %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= submit_tag 'Save', class: 'btn btn-primary', form: 'new_marker', onclick: 'checkLatLng()' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="map"></div>

<%= render 'layouts/admin_button' if current_user.admin? %>
<%= render 'layouts/logout_button' %>
<%= render 'layouts/edit_user_button' %>
<%= render 'layouts/share_your_map_button' %>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBqRWzcEw82hkDjN791Vu3D8qTNEXuC81g', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'markerwithlabel.js', 'data-turbolinks-track': 'reload' %>

<script>
  /* global google */

  $(document).ready( function() {
    $('[data-toggle="tooltip"]').tooltip();
    initMap();
  });

  // Google Map
  var map;

  // Global lat, lng variables for Save
  var lat, lng;

  // markers for map
  var markers = [];

  // info window
  var info = new google.maps.InfoWindow();

  function checkLatLng() {
    $('#marker_lat').val(lat);
    $('#marker_lng').val(lng);
    return true;
  }

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @location[0] %>, lng: <%= @location[1] %>},
      zoom: 8
    });

    <% @markers.each do |marker| %>
      var marker = new MarkerWithLabel({
        position: new google.maps.LatLng(<%= marker.lat %>, <%= marker.lng %>),
        map: map,
        labelContent: "<%= marker.title %>",
        labelAnchor: new google.maps.Point(125, -10),
        labelClass: "labels"
      });

      google.maps.event.addListener(marker, "click", function() {
        var content = "<div id='info'>";
        content += "<p class='info-window-title'><%= marker.title %></p>";
        content += "<hr/>";

        <% unless marker.description.empty? %>
          content += "<p class='info-window-description'><%= marker.description %></p>";
        <% else %>
          content += "<p class='info-window-description'>There is no description!</p>";
        <% end %>

        content += "<a rel='nofollow' data-method='delete' href='/markers/<%= marker.id %>' data-remote='true'>Delete this place :(</a>"
        content += "<hr/>";
        content += "<p class='info-share-place-title'>Share this place now!!</p>";
        content += "<span class='social'>";

        content += "<a class='facebook fa fa-facebook-square fa-3x' href='https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.google.jo%2Fmaps%3Fz%3D8%26q%3D<%= marker.lat %>%2B<%= marker.lng %>%26ll%3D<%= marker.lat %>%2B<%= marker.lng %>&quote=<%= marker.title %>&hashtag=%23iMarker' onclick='MyPopUpWin(this.href, 600, 600)' target='_blank' title='Share on Facebook'></a>";

        content += "<a class='twitter fa fa-twitter-square fa-3x' href='https://twitter.com/intent/tweet?text=<%= marker.title %>&url=https%3A%2F%2Fwww.google.jo%2Fmaps%3Fz%3D8%26q%3D<%= marker.lat %>%2B<%= marker.lng %>%26ll%3D<%= marker.lat %>%2B<%= marker.lng %>&hashtags=iMarker' onclick='MyPopUpWin(this.href, 600, 600)' target='_blank' title='Share on Twitter'></a>";

        content += "<a class='googleplus fa fa-google-plus-square fa-3x' href='https://plus.google.com/share?url=https%3A%2F%2Fwww.google.jo%2Fmaps%3Fz%3D8%26q%3D<%= marker.lat %>%2B<%= marker.lng %>%26ll%3D<%= marker.lat %>%2B<%= marker.lng %>' onclick='MyPopUpWin(this.href, 600, 600)'' target='_blank' title='Share on GooglePlus'></a>";

        content += "</span>";
        content += "</div>";

        info.setContent(content);
        info.open(map, this);
      });

      google.maps.event.addListener(marker, "dblclick", function (e) { 
        map.setZoom(map.getZoom() + 2);
        map.setCenter(marker.getPosition());
        info.close();
      });

      markers.push(marker);
    <% end %>

    google.maps.event.addListener(map, "rightclick", function (e) {
      var latLng = e.latLng;
      lat = latLng.lat();
      lng = latLng.lng();

      $('#marker_lat').val(latLng.lat());
      $('#marker_lng').val(latLng.lng());

      $('#add-new-marker-modal').modal('show');
    });

    var styledMapType = new google.maps.StyledMapType(
    [
      {
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#ebe3cd"
          }
        ]
      },
      {
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#523735"
          }
        ]
      },
      {
        "elementType": "labels.text.stroke",
        "stylers": [
          {
            "color": "#f5f1e6"
          }
        ]
      },
      {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
          {
            "color": "#c9b2a6"
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "elementType": "geometry.stroke",
        "stylers": [
          {
            "color": "#dcd2be"
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#ae9e90"
          }
        ]
      },
      {
        "featureType": "landscape.natural",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#dfd2ae"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#dfd2ae"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#93817c"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#a5b076"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#447530"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#f5f1e6"
          }
        ]
      },
      {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#fdfcf8"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#f8c967"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
          {
            "color": "#e9bc62"
          }
        ]
      },
      {
        "featureType": "road.highway.controlled_access",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#e98d58"
          }
        ]
      },
      {
        "featureType": "road.highway.controlled_access",
        "elementType": "geometry.stroke",
        "stylers": [
          {
            "color": "#db8555"
          }
        ]
      },
      {
        "featureType": "road.local",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#806b63"
          }
        ]
      },
      {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#dfd2ae"
          }
        ]
      },
      {
        "featureType": "transit.line",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#8f7d77"
          }
        ]
      },
      {
        "featureType": "transit.line",
        "elementType": "labels.text.stroke",
        "stylers": [
          {
            "color": "#ebe3cd"
          }
        ]
      },
      {
        "featureType": "transit.station",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#dfd2ae"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#b9d3c2"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#92998d"
          }
        ]
      }
    ],
    {name: 'Styled Map'});

    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');

    $('.modal').on('shown.bs.modal', function () {
      $('#marker_title').focus();
    })
  }
</script>
