<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Admin <i class='fa fa-user-secret' aria-hidden='true'></i>".html_safe, admin_root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="admin">
      <ul class="nav navbar-nav">
      	<li class="<%= "active" if controller_name != "registrations" and controller_name != "base" and controller_name != "users" %>">
        	<%= link_to "Dashboard <i class='fa fa-map-o' aria-hidden='true'></i>".html_safe, root_path, 'data-turbolinks': false %>
        </li>
        <li class="<%= "active" if controller_name == "users" %>">
        	<%= link_to "Users <i class='fa fa-users' aria-hidden='true'></i>".html_safe, admin_users_path %>
        </li>
        <li class="<%= "active" if controller_name == "registrations" and (action_name == "edit" or action_name == "update") %>">
        	<%= link_to "Edit account <i class='fa fa-cog' aria-hidden='true'></i>".html_safe, edit_user_registration_path %>
        </li>
  			<li>
  				<%= link_to "Sign out <i class='fa fa-sign-out' aria-hidden='true'></i>".html_safe, destroy_user_session_path, method: :delete %>
  			</li>
      </ul>
    </div>
  </div>
</nav>
